# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Generated output
output.txt

input.txt
runner.py

.vscode/

# OS files
.DS_Store
Thumbs.db

# VS Code logs
.vscode/*.log